form{

  background-color: aliceblue;
  height: 400px;
  width: 500px;
}

body{
  background-color: cyan;
  height: 600px;
  width: 600px;
}
h1{
  color: azure;
}
nav{
  align-content: center;
  height: 60px;
  background-color: azure;
}
